        @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;500;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html,
        body {
            height: 100%;
            background-color: #0b0c10;
            min-height: 100vh;
            align-items: center;
        }
        /* .container {
            overflow: hidden;
        } */
        
        header {
            z-index: 999;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 75px;
            align-items: center;
            padding: 20px 40px;
            transition: 0.6s;
        }
        
        header .logo {
            font-family: 'Montserrat';
            position: relative;
            font-weight: 700;
            color: #FFFFFF;
            font-size: 35px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        header .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        header .menu a {
            position: relative;
            margin: 0 15px;
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 500;
            transition: 0.6s;
            font-family: 'Montserrat';
            font-size: 17px;
            display: inline-block;
        }
        
        header .menu a:hover {
            transform: translateY(-4px);
            transition: 0.6s;
        }
        
        header .btn {
            color: #FFFFFF;
            font-size: 25px;
            cursor: pointer;
            display: none;
        }
        
        header.sticky {
            background-color: rgb(31, 40, 51, 0.9);
            transition: 0.6s;
            padding: 15px 30px;
            height: 60px;
        }
        
        @media screen and (max-width: 1280px) {
            header .menu a {
                font-size: 17px;
            }
            header .logo {
                font-size: 1.7em;
            }
        }
        
        @media screen and (max-width: 1060px) {
            header .btn {
                display: block;
            }
            header .menu {
                position: fixed;
                background-color: #2a2f3c;
                flex-direction: column;
                min-width: 400px;
                height: 100vh;
                top: 0;
                right: -100%;
                padding: 80px 50px;
                transition: 0.6s;
                transition-property: right;
            }
            header .menu.active {
                right: 0;
            }
            header .menu .close-btn {
                position: absolute;
                top: 0;
                left: 0;
                margin: 25px;
            }
            header .menu a {
                display: block;
                font-size: 15px;
                margin: 20px;
                padding: 0 15px;
            }
            header .logo {
                font-size: 1.5em;
            }
        }
        
        @media screen and (max-width: 630px) {
            header {
                height: 60px;
            }
            .section-main h1 {
                font-size: 50px;
                line-height: 60px;
            }
            header .logo {
                font-size: 1.3em;
            }
            header .btn {
                font-size: 18px;
            }
            header .menu a {
                font-size: 15px;
            }
        }
        
        @media screen and (max-width: 400px) {
            header .btn {
                display: block;
            }
            header .menu {
                position: fixed;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                flex-direction: column;
                min-width: 300px;
                height: 100vh;
                top: 0;
                right: -200%;
                padding: 80px 20px;
                transition: 0.6s;
                transition-property: right;
            }
            header .menu.active {
                right: 0;
            }
            header .menu .close-btn {
                position: absolute;
                top: 0;
                left: 0;
                margin: 25px;
            }
            header .menu a {
                display: block;
                font-size: 20px;
                margin: 20px;
                padding: 0 15px;
            }
            header .logo {
                font-size: 1em;
            }
            header .btn {
                font-size: 18px;
            }
            header .menu a {
                font-size: 15px;
            }
        }
        /*-----------------------------------------------------------------------------------------------------*/
        
        section {
            position: absolute;
            display: grid;
            height: auto;
        }
        
        .home {
            padding: 100px;
            align-items: center;
            position: relative;
            justify-content: space-around;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            margin-bottom: 60px;
        }
        
        .homecont {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%
        }
        
        .homedat {
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 700;
            color: #FFFFFF;
            font-size: 25px;
            display: flex;
            flex-direction: column;
        }
        
        .home1 {
            border-radius: 100px;
            margin: 100px;
            display: flex;
            position: relative;
            align-items: center;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeIn 1.5s ease-in-out forwards;
        }
        
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .home .image {
            display: flex;
            margin: 100px;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeIn 1s ease-in-out forwards;
        }
        
        .homecont .image .gamb {
            width: 400px;
            height: 400px;
        }
        
        .typed-cursor {
            display: none;
        }
        
        .name {
            font-size: 55px;
            color: #66fcf1;
            padding-bottom: 25px;
            padding-top: 5px;
        }
        
        .auto-type {
            color: #c5c6c7;
        }
        
        .job {
            font-size: 35px;
        }
        
        .jo {
            font-size: 32px;
            color: #FFFFFF;
        }
        
        .desc {
            color: #c5c6c7;
            font-weight: 300;
            font-family: 'Montserrat';
            font-size: 25px;
        }
        
        .LnkeSocial {
            margin-top: 40px;
            margin-bottom: 100px;
        }
        
        .ki {
            margin-top: 15px;
            margin-bottom: 0px;
            position: relative;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 15px;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            min-width: 210px;
            max-width: 210px;
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
            background: linear-gradient(100deg, #FF725E, #FF725E);
            border-radius: 6px;
            transition: 0.6s;
        }
        
        .ki:hover {
            box-shadow: inset 240px 0 0 0 #FFFFFF;
            cursor: pointer;
            color: #343D46;
            transition: 0.6s;
        }
        
        @media screen and (max-width: 1368px) {
            .job {
                font-size: 28px;
            }
            .desc {
                font-weight: 300;
                font-size: 18px;
            }
            .name {
                font-size: 48px;
            }
            .homedat {
                font-size: 18px;
            }
            .homecont .image .gamb {
                height: 355px;
                width: 355px;
            }
            .ki {
                font-size: 15px;
                padding: 14px;
                padding-left: 40px;
                padding-right: 40px;
            }
            .jo {
                font-size: 25px;
            }
        }
        
        @media screen and (max-width: 1258px) {
            .job {
                font-size: 25px;
            }
            .job1 {
                font-size: 25px;
            }
            .desc {
                font-weight: 300;
                font-size: 15px;
            }
            .name {
                font-size: 45px;
            }
            .homedat {
                font-size: 15px;
            }
            .homecont.image .gamb {
                height: 300px;
                width: 300px;
            }
            .image {
                margin-left: 50px;
            }
            .home1 {
                margin-right: 70px;
            }
            .jo {
                font-size: 22px;
            }
        }
        
        @media screen and (max-width: 1060px) {
            .home {
                display: flex;
                flex-direction: column-reverse;
            }
            .homecont {
                display: flex;
                flex-direction: column-reverse;
            }
            .home1 {
                margin: 30px;
            }
            .image {
                margin: 100px;
                margin-bottom: 0px;
                margin-top: 40px;
            }
            .homecont .image .gamb {
                height: 250px;
                width: 250px;
            }
            .homedat {
                text-align: center;
            }
            .LnkeSocial {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .ki {
                font-size: 15px;
                padding: 15px;
                padding-left: 35px;
                max-width: 200px;
                padding-right: 35px;
            }
        }
        
        @media screen and (max-width: 680px) {
            .homecont .image {
                margin-top: 70px;
                margin-bottom: 90px;
            }
            .homecont .image .gamb {
                height: 250px;
                width: 250px;
            }
            .job {
                font-size: 20px;
            }
            .job1 {
                font-size: 20px;
            }
            .desc {
                font-weight: 300;
                font-size: 10px;
            }
            .name {
                font-size: 40px;
            }
            .homedat {
                font-size: 10px;
            }
            .ki {
                font-size: 15px;
                padding: 15px;
                padding-left: 32px;
                padding-right: 32px;
            }
            .jo {
                font-size: 17px;
            }
        }
        
        @media screen and (max-width: 545px) {
            .homecont .image {
                margin-bottom: 50px;
                margin-top: 70px;
            }
            .homecont .image .gamb {
                height: 190px;
                width: 190px;
            }
            .job {
                font-size: 18px;
            }
            .job1 {
                font-size: 18px;
            }
            .desc {
                font-weight: 300;
                font-size: 10px;
            }
            .name {
                font-size: 28px;
            }
            .jo {
                font-size: 15px;
            }
            .homedat {
                font-size: 10px;
            }
            .ki {
                font-size: 12px;
                padding: 12px;
                padding-left: 28px;
                padding-right: 28px;
            }
        }
        /*---------------------------------------------------*/
        
        .home0 {
            align-items: center;
            position: relative;
            justify-content: center;
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat';
            height: auto;
            padding-bottom: 50px;
        }
        
        .social-menu {
            width: 100%;
        }
        
        .social-menu ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            margin-bottom: 100px;
            width: 100%;
        }
        
        .social-menu ul li {
            list-style: none;
            margin: 0 15px;
        }
        
        .social-menu ul li .fab {
            font-size: 30px;
            line-height: 60px;
            transition: .3s;
            color: #0b0c10;
        }
        
        .social-menu ul li .fab:hover {
            color: #fff;
        }
        
        .social-menu ul li a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            justify-content: center;
            transition: .6s;
        }
        
        .social-menu ul li ion-icon {
            position: relative;
            margin-top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 40%;
            text-align: center;
            color: #0b0c10;
            justify-content: center;
            transition: .6s;
        }
        
        .social-menu ul li ion-icon:hover {
            color: #FFFFFF;
        }
        
        .social-menu ul li a:hover {
            transform: translateY(-4px);
        }
        
        .social-menu ul li:nth-child(1) a:hover {
            background-color: #000;
        }
        
        .social-menu ul li:nth-child(2) a:hover {
            background-color: #E4405F;
        }
        
        .social-menu ul li:nth-child(3) a:hover {
            background-color: #0077b5;
        }
        
        .social-menu ul li:nth-child(4) a:hover {
            background-color: #343D46;
        }
        
        @media screen and (max-width: 450px) {
            .social-menu ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-top: 30px;
            }
            .social-menu ul li a:hover {
                transform: translateY(-4px);
                transition: 0.6s;
            }
            .social-menu ul li {
                list-style: none;
                margin: 0px;
            }
        }
        /* --------------------------------------------- */
        
        .home2 {
            align-items: center;
            position: relative;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat';
            height: auto;
            padding-bottom: 50px;
        }
        
        .sk,
        .home0 .sk {
            text-decoration: none;
            padding-top: 40px;
            font-family: 'Montserrat';
            font-weight: 700;
            color: #FFFFFF;
            font-size: 40px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        
        .blabl {
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 500;
            color: #c5c6c7;
            font-size: 25px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        
        .containerexp {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            padding-top: 10px;
            margin: 100px;
            margin-top: 30px;
        }
        
        .containerexp div {
            background: #343D46;
            padding: 2rem 1.5rem;
            border-radius: 22px;
            border: 1px solid transparent;
            font-weight: 500;
            color: #FFFFFF;
        }
        
        .containerexp div h3 {
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            margin-bottom: 1rem;
            color: #FFFFFF;
        }
        
        .containerexp div h4 {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 17px;
        }
        
        .containerexp div small {
            font-weight: 300;
            font-size: 13px;
            color: #c5c6c7;
        }
        
        .expcont {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-weight: 500;
            row-gap: 1rem;
        }
        
        .expdet {
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
        
        .expdet .ico {
            margin-top: 30px;
            margin-left: 30px;
        }
        
        @media screen and (max-width:1258px) {
            .sk,
            .home0 .sk {
                font-size: 35px;
            }
            .containerexp {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .home3 .project .judpro,
            .home4 .judpro {
                font-size: 35px;
            }
            .blabl {
                font-size: 20px;
            }
            .containerexp div h3 {
                font-size: 20px;
            }
            .containerexp div h4 {
                font-size: 14px;
            }
            .containerexp div small {
                font-size: 11px;
            }
        }
        
        @media screen and (max-width: 1024px) {
            .containerexp {
                grid-template-columns: 1fr;
            }
            .containerexp div {
                padding: 1.5rem;
                margin: auto;
                width: 100%;
            }
            .expcont {
                padding: 1rem;
                align-items: center;
            }
            .sk,
            .home0 .sk {
                font-size: 35px;
            }
            .blabl {
                font-size: 20px;
            }
            .containerexp div h3 {
                font-size: 18px;
            }
            .containerexp div h4 {
                font-size: 15px;
            }
            .containerexp div small {
                font-size: 12px;
            }
        }
        
        @media screen and (max-width: 900px) {
            .containerexp {
                gap: 2rem;
                grid-template-columns: 2fr;
            }
            .containerexp div {
                padding: 2rem 1rem;
                width: 100%;
            }
            .expcont {
                align-items: center;
            }
            .expdet {
                display: flex;
                padding-right: 0px;
            }
            .containerexp div h3 {
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 1rem;
            }
            .containerexp div h4 {
                font-weight: 500;
                font-size: 14px;
            }
            .containerexp div small {
                font-weight: 300;
                font-size: 11px;
            }
            .expfer,
            .expbe {
                height: auto;
            }
            .home3 .project .judpro,
            .home4 .judpro {
                font-size: 30px;
            }
            .sk,
            .home0 .sk {
                font-size: 30px;
            }
            .blabl {
                font-size: 12px;
            }
        }
        
        @media screen and (max-width:520px) {
            .containerexp {
                gap: 2rem;
                grid-template-columns: 2fr;
            }
            .containerexp div {
                padding: 2rem 1rem;
                width: 100%;
            }
            .expcont {
                align-items: center;
            }
            .expdet {
                display: flex;
                padding-right: 0px;
            }
            .expdet .ico {
                margin-top: 10px;
            }
            .containerexp div h3 {
                text-align: center;
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 1rem;
            }
            .containerexp div h4 {
                font-weight: 500;
                font-size: 12px;
            }
            .containerexp div small {
                font-weight: 300;
                font-size: 9px;
            }
            .expfer,
            .expbe {
                height: auto;
            }
            .home3 .project .judpro,
            .home4 .judpro {
                font-size: 25px;
            }
            .sk,
            .home0 .sk {
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 25px;
                display: flex;
                align-items: center;
                text-align: center;
            }
            .blabl {
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 10px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
        
        @media screen and (max-width: 400px) {
            .containerexp {
                gap: 2rem;
                grid-template-columns: 2fr;
            }
            .containerexp div {
                padding: 2rem 1rem;
                width: 100%;
            }
            .expcont {
                align-items: center;
            }
            .expdet {
                display: flex;
                padding-right: 0px;
            }
            .expdet .ico {
                margin-top: 10px;
            }
            .containerexp div h3 {
                text-align: center;
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 1rem;
            }
            .containerexp div h4 {
                font-weight: 500;
                font-size: 12px;
            }
            .containerexp div small {
                font-weight: 300;
                font-size: 9px;
            }
            .expfer,
            .expbe {
                height: auto;
            }
            .home3 .project .judpro,
            .home4 .judpro {
                font-size: 25px;
            }
            .sk,
            .home0 .sk {
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 25px;
                display: flex;
                align-items: center;
                text-align: center;
            }
            .blabl {
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 10px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
        /*---------------------------------------------------*/
        
        .home3 {
            margin: 30px;
            padding-bottom: 100px;
            align-items: center;
            position: relative;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
        }
        
        .judpro {
            text-decoration: none;
            padding-top: 40px;
            font-family: 'Montserrat';
            font-weight: 700;
            color: #FFFFFF;
            font-size: 35px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        
        .wrapper {
            display: flex;
            max-width: 1200px;
            position: relative;
            margin: 40px;
            margin-top: 30px;
            padding-top: 10px;
        }
        
        .wrapper i {
            top: 50%;
            height: 42px;
            width: 42px;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 1rem;
            position: absolute;
            text-align: center;
            line-height: 44px;
            background: rgb(42, 47, 60, 0.75);
            border-radius: 50%;
            transform: translateY(-50%);
            transition: transform 0.6s linear;
            transition: 0.6s;
        }
        
        .wrapper i:active {
            transform: translateY(-50%) scale(0.9);
        }
        
        .wrapper i:hover {
            background: rgb(31, 35, 44);
        }
        
        .wrapper i:first-child {
            left: -22px;
            display: none;
        }
        
        .wrapper i:last-child {
            right: -22px;
        }
        
        .wrapper .carousel {
            font-size: 0px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            scroll-behavior: smooth;
        }
        
        .carousel.dragging {
            cursor: grab;
            scroll-behavior: auto;
        }
        
        .carousel.dragging img {
            pointer-events: none;
        }
        
        .carousel img {
            border-radius: 22px;
            height: 500px;
            object-fit: cover;
            user-select: none;
            margin-left: 14px;
            width: calc(100% / 3);
            transition: 0.6s;
        }
        
        .carousel img:first-child {
            margin-left: 0px;
            margin-right: 20px;
        }
        
        @media screen and (max-width: 900px) {
            .carousel img {
                width: calc(100% / 2);
            }
        }
        
        @media screen and (max-width: 550px) {
            .carousel img {
                width: 95%;
            }
            .wrapper {
                margin: 20px;
                margin-top: 30px;
            }
        }
        
        .carousel img:hover {
            filter: brightness(50%);
            border-radius: 22px;
        }
        
        .judpro1 {
            font-size: 13px;
            font-weight: 100;
            color: #FF725E;
        }
        /* ---------------------------------------------------- */
        /* ------------------------------------------------------- */
        
        .home4 {
            padding: 30px;
            padding-top: 70px;
            padding-bottom: 100px;
            align-items: center;
            position: relative;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
        }
        
        .timel {
            position: relative;
            max-width: 100%;
            margin: 100px auto;
            align-items: center;
        }
        
        h1 {
            color: #FFFFFF;
            align-items: center;
        }
        
        .conts {
            padding: 10px 50px;
            position: relative;
            width: 50%;
            animation: movedown 1s linear forwards;
            opacity: 0;
        }
        
        .boks h2 {
            color: #66fcf1;
            margin-bottom: 15px;
        }
        
        .boks small {
            color: #c5c6c7;
            font-size: 20px;
        }
        
        .boks p {
            color: #FFFFFF;
            margin-top: 15px;
        }
        
        @keyframes movedown {
            0% {
                opacity: 1;
                transform: translateY(-30px)
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        
        .conts:nth-child(3) {
            animation-delay: 1s;
        }
        
        .conts:nth-child(3) {
            animation-delay: 1s;
        }
        
        .boks {
            padding: 20px 30px;
            background: #343D46;
            position: relative;
            border-radius: 6px;
            font-size: 18px;
            color: #ffffff;
        }
        
        .boks h2 .left-conts {
            right: 0;
        }
        
        .right-conts {
            left: 50%;
        }
        
        .timel::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            background: #FFFFFF;
            left: 50%;
            top: 0;
            margin-left: -3px;
            z-index: -1;
            animation: moveline 3s linear forwards;
        }
        
        @keyframes moveline {
            0% {
                height: 0;
            }
            100% {
                height: 100%;
            }
        }
        
        @media screen and (max-width: 850px) {
            .timel {
                margin: 50px auto;
            }
            .timel::after {
                left: 31px;
            }
            .conts {
                width: 100%;
                padding-left: 80px;
                padding-right: 25px;
            }
            .boks {
                font-size: 13px;
            }
            .right-conts {
                left: 0%;
            }
        }
        /* ................................. */
        
        .footer {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            justify-content: center;
            min-height: 100vh;
        }
        
        footer {
            position: relative;
            width: auto;
            background: #2a2f3c;
            min-height: 100px;
            padding: 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        footer .sociali,
        footer .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
        }
        
        footer .sociali li,
        footer .menu li {
            list-style: none;
        }
        
        footer .sociali li a {
            font-size: 2em;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.6s;
        }
        
        footer .menu li a {
            font-size: 18px;
            color: #fff;
            margin: 0 8px;
            display: inline-block;
            transition: 0.6s;
            font-family: 'Montserrat';
            font-weight: 500;
            text-decoration: none;
        }
        
        footer .menu li a:hover {
            transform: translateY(-4px);
        }
        
        footer p {
            color: #c5c6c7;
            text-align: center;
            margin-top: 27.5px;
            margin-bottom: 10px;
            font-size: 13px;
            font-family: 'Montserrat';
        }
        
        footer .sociali li a:hover {
            transform: translateY(-4px);
        }
        
        .kis {
            margin-top: 15px;
            margin-bottom: 0px;
            position: relative;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 15px;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            min-width: 210px;
            max-width: 210px;
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
            background: linear-gradient(100deg, #FF725E, #FF725E);
            border-radius: 6px;
            transition: 0.6s;
        }
        
        .kis:hover {
            box-shadow: inset 240px 0 0 0 #FFFFFF;
            cursor: pointer;
            color: #343D46;
            transition: 0.6s;
        }
        
        .sociali .LnkeSocials a .kis {
            margin: 15px;
        }
        
        @media screen and (max-width: 745px) {
            footer .sociali li a {
                font-size: 23px;
            }
            footer .menu li a {
                font-size: 13px;
            }
            .kis {
                font-size: 12px;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        
        @media screen and (max-width: 400px) {
            footer p {
                font-size: 11px;
            }
            footer .menu li a {
                font-size: 14px;
                color: #fff;
                margin: 0 8px;
                display: inline-block;
                transition: 0.6s;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
            }
        }